NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Ai Smart Dictionary"
NEXT_PUBLIC_APP_DESCRIPTION="Ai Smart Dictionary"

# Database
DB_DRIVER=pg
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_NAME=postgres_db
DB_PORT=5430
DATABASE_URL="postgres://postgres_user:postgres_password@localhost:5430/postgres_db"

# Better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Arcjet
ARCJET_KEY=

# Resend
RESEND_API_KEY=""
RESEND_DOMAIN="<onboarding@resend.dev>"
